@font-face {
  src: url(TwCenMT.ttf);
  font-family: Tw Cen MT;
}
body {
  background: black;
}

h1 {
  display: grid;
  color: white;
  font-family: Tw Cen MT;
  font-size: 80px;
  font-weight: 600;
  margin-block-start: auto;
  margin-block-end: -20px;
  justify-content: center;
}

h2 {
  display: grid;
  color: white;
  font-family: Tw Cen MT;
  font-size: 80px;
  font-weight: 100;
  margin-block-start: auto;
  margin-block-end: auto;
  justify-content: center;
}

h3 {
  display: grid;
  color: white;
  margin-block-start: 30px;
  margin-block-end: auto;
  font-family: Tw Cen MT;
  font-size: 20px;
  font-weight: 100;
  justify-content: center;
}
.container {
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  height: 100px;
  width: 200px;
  flex-direction: column;
  justify-content: space-evenly;
  background: white;
  border-radius: 10px;
}
.images {
  display: flex;
  justify-content: space-evenly;
}
.text {
  display: flex;
  justify-content: center;
  font-family: Tw Cen MT;
  font-size: 30px;
  font-weight: 600;
}
